<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Recipe</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container" style="margin-top: 20px">

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <!--/*@thymesVar id="recipe" type="guru.springframework.domain.Recipe"*/-->
                        <h1 class="panel-title text-center" th:text="${recipe.description}">placeholder for description</h1>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Categories:</h5>
                            </div>
                            <div class="col-md-9">
                                <!--/*@thymesVar id="recipe" type="guru.springframework.domain.Recipe"*/-->
                                <ul class="list-unstyled">
                                    <li class="category"
                                        th:each="category : ${recipe.categories}"
                                        th:text="${category.description}">placeholder for category</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Prep Time:</h5>
                            </div>
                            <div class="col-md-3">
                                <!--/*@thymesVar id="recipe" type="guru.springframework.domain.Recipe"*/-->
                                <p th:text="${recipe.prepTime} + ' Min'">placeholder for preptime</p>
                            </div>
                            <div class="col-md-3">
                                <h5>Difficulty:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.difficulty}">placeholder for difficulty</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Cooktime:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.cookTime} + ' Min'">placeholder for cookTime</p>
                            </div>
                            <div class="col-md-3">
                                <h5>Servings:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.servings}">placeholder for servings</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Source:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.source}">placeholder for source</p>
                            </div>
                            <div class="col-md-3">
                                <h5>URL:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.url}">placeholder for url</p>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title" >Ingredients</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="list-unstyled">
                                        <!--/*@thymesVar id="ingredient" type="guru.springframework.domain.Ingredient"*/-->
                                        <li class="category"
                                            th:each="ingredient : ${recipe.ingredients}"
                                            th:text="${ingredient.getAmount()
                                            + ' ' + ingredient.unitOfMeasure.getDescription()
                                            + ' of '+ ingredient.getDescription()}">placeholder for ingredient</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title" >Directions</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p th:text="${recipe.directions}">placeholder for directions</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title" >Notes</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p th:text="${recipe.notes.recipeNotes}">placeholder for notes</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>
</html>